*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}



.jq-selectbox__select {
    height: 32px;
    padding: 0 45px 0 10px;
    border: 1px solid #d2d1dc;
    border-bottom-color: #B3B3B3;
    background: #fff;
    font: 14px/32px Arial, sans-serif;
    color: #333;
    text-shadow: 1px 1px #FFF;
}


.jq-selectbox__select-text {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #211a52;
}

.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
}

.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;

    padding: 0;
    border: 1px solid #CCC;
    background: #FFF;
    font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__search {
    margin: 5px;
}


.jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
}


.jq-selectbox ul {
    margin: 0;
    padding: 0;
}


.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 13px;
    right: 12px;
    width: 12px;
    height: 6px;
 
	background: url(arrow-down.svg) no-repeat 50% 50%;
}



.jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #231F20;
}

.jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF;
}

.jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}